body{
  position:absolute;
  min-height: 100%;
  width: 100%;
}
.main{
  margin-bottom: 100px;
}
.clearfix:after { 
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
} 
.clearfix {display: inline-block;}  
.clearfix {
  zoom: 1; 
  display: block;
}
form{
  overflow: hidden;
}
.media-body{
  overflow: visible;
  padding-left: 10px;
}
.movie-title{
    font-size: 18px;
    font-weight: 400;
}
.input-search{
    margin-top: 12px;
}
.footer{
    margin-top: 100px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.comment-container{
    margin-top: 40px;
}
.movie-info{
    padding: 10px;
}
.movie-info dt,.movie-info dd{
    padding: 5px 0;
}
.movie-info dt{
    width: 70px;
    text-align: left;
}
.movie-info dd{
    margin-left: 80px;
}
.comment-container{
    width: 720px;
}
.comment-container .media-list{
    margin-top: 50px;
}
#replyCollapse .well{
  padding-bottom: 0;
}
.category-group input{
  float: left;
}

.search-form{
  float: right;
  height: 50px;
  line-height: 50px;
}
.search-form input{
  float: right;
  width: 200px;
  height: 24px;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 14px;
  padding-left: 10px;
  margin-right: 10px;
  border: 1px solid #aaa;
}
.search-form input:focus{
  border:1px solid #ef5350 !important;
}
.search-form button{
  background: none;
  border: none;
  outline: none;
  float: right;
  margin-top: -2px;
  color: #999;
}